spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ticket_master?createDatabaseIfNotExist = true
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
